/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  margin: 0;
  font-family: helvetica;
  position: relative;
}

/*.gameStarter {
  padding:5px 12px;
  float:center;
  text-decoration: none;
  font-size: helvetica;
}*/

.mouse {
  position: absolute;
  background-image: url('mario.png');
  background-size: 100% 100%;
}

.startpipe {
  position: absolute;
  background-image: url('startpipe.png');
  background-size: 100% 100%;
  height: 150px;
  width: 150px;
  float: left;
}


/*.endpipe {
  position: absolute;
  background-image: url('endpipe.png');
  background-size: 100% 100%;
  height: 30px;
  width: 30px;
  top: 800px;
  left: 800px;
}*/

.ghost {
  background-image: url('ghost.png');
  background-size: 100% 100%;
  position: absolute;
}

.scoreboard {
  width: 250px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  border-radius: 3px;
}

.scoreboard div {
  line-height: 33px;
  font-size: 25px;
  float: right;
}

.board {
  background-image: url('level1.png');
  background-size: 100% 100%;
}
